<p><em>Tämä on sähkökirjaversio Internet-sivuston <a href='http://konstakurki.org/'>konstakurki.org</a> artikkeleista.</em></p>
<ul>
<li><em>Muokattu DateFormattedGoesHere</em></li>
<li><em>Commit <a href="https://gitlab.com/konstakurki/personalsite/commit/CommitIdGoesHere"><code>CommitIdShortGoesHere</code><a></em></li>
<li><em>Pituus WordCountGoesHere sanaa</em></li>
<li><em>Copyright &copy; (2017) Konsta Kurki</em></li>
<li><em>Licensed under <a href='https://creativecommons.org/licenses/by-sa/4.0/'>CC BY-SA 4.0</a></em></li>
</ul>
